<div class="column">
  <div class="card">
    <%= link_to artwork, class: "card-image centered-image-container" do -%>
      <%= image_tag artwork.image.variant(resize: "500x500>") %>
    <% end -%>
    <div class="card-content">
      <%= link_to artwork.name, artwork, class: "title" %>
    </div>
  </div>
</div>
