
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= user.name %>
    </p>
  </header>

  <div class="card-content">
    <p>
      <%= user.bio %>
    </p>
  </div>
</div>