<%= render 'users/bio_section' %>

<section class="section">
  <div class="container">
    <%= render "users/tabs" %>
    <%= render partial: "users/artwork",
        collection: policy_scope(@user.artworks),
        as: :artwork,
        cache: true %>
  </div>
</section>

