<article class="section">
  <div class="content">
  <h1 class="title">ArtWorkDraft</h1>

  <p>
    Click on some of those navbar links to get started!
    Be warned: this is very beta and probably buggy
  </p>
  </div>
</article>
