<section class="hero is-primary is-bold is-medium">
  <div class="hero-body">
    <h1 class="title">
      ArtWorkDraft: An Actually Good Art Website
      <h2 class="subtitle">
        Created by the community, for the community
      </h2>
  </div>
</section>

<article class="section">
  <div class="tile is-ancestor is-vertical">
    <div class="tile">
      <div class="tile is-parent">
        <section class="tile is-child notification is-primary">
          <h1 class="title">
            Actually a Community
          </h1>
          <p>
            ArtWorkDraft doesn't have a "community manager."
            It doesn't have board meetings where important decisions are made by faceless suits who don't actually ever use the website.
            Every component of ArtWorkDraft, from decisions about rules down to the very code the website runs is out in the open.
            It's not just impenetrable windows of "transparency", it's a canvas, and the community holds the paintbrush.
          </p>
        </section>
      </div>
      <div class="tile is-parent">
        <section class="tile is-child is-info notification">
          <h1 class="title">
            Actually Engineered
          </h1>
          <p>
            We care about quality.
            We prioritize your experience over squeezing money out of our users.
            Every feature we add is geared towards making things easier for you, and we won't throw in half-baked add-ons that only slow things down.
          </p>
        </section>
      </div>
      <div class="tile is-parent">
        <section class="tile is-child is-success notification">
          <h1 class="title">
            Actually Inviting
          </h1>
          <p>
            We make it easy to get started.
            You can start uploading art and interacting right away.
            We don't prioritize any artist over any other.
            Express your creativity, passion, and fandom however you want.
          </p>
        </section>
      </div>
    </div>
    <div class="tile is-parent">
      <section class="tile is-child notification">
        <h1 class="title">
          Get Started
        </h1>
        <p>
          This website was only recently created.
          ArtWorkDraft is open source and we're committed to community-driven development.
          We're still adding features, and are always accepting user feedback.
          Feel free to open a bug report, a feature request, or a discussion on <a href="https://github.com/anthonysuper/artworkdraft">our repository.</a>
        </p>
        <p>
          In the meantime, the website is working already.
          Simply <a href="/users/new">make an account</a> and get started.
        </p>
      </section>
    </div>
  </div>
</article>
