<section class="hero is-bold is-primary is-medium">
  <div class="hero-body">
    <h1 class="title">
      Frequently Asked Questions
    </h1>
    <h2>
      We've got answers for them
    </h2>
  </div>
</section>

<article class="section">
  <section id="general-questions">
    <h2 class="title">General Questions</h2>
    <div class="card-spacer">
      <section class="card" id="whats-this">
        <header class="card-header">
          <h3 class="card-header-title">
            What is ArtWorkDraft?
          </h3>
        </header>
        <div class="card-content">
          <div class="content">
            <p>
            ArtWorkDraft is, at is core, an <strong>art community</strong>.
            The primary focus is on art in all forms, from traditional painting to photographs to 3D renderings.
            Unlike other "communities", ArtWorkDraft uses an <strong>open development model</strong>.
            The code is <a href="https://github.com/AnthonySuper/artworkdraft">open source</a> and you can interact with the developers directly.
            There's no walls with windows of tranparency.
            The people who use the website can follow its development in real-time.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="card-spacer">
      <section class="card" id="whats-this">
        <header class="card-header">
          <h3 class="card-header-title">
            You said the code is "open source." What does that mean?
          </h3>
        </header>
        <div class="card-content">
          <div class="content">
            <p>
            It means that you can see the code used to run the website, from the HTML that renders the page to the backend code that stores the data.
            The source code for the whole website is available <a href="https://github.com/AnthonySuper/artworkdraft">here</a>.
            This makes the website much more transparent in general, and can even improve security.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="card-spacer">
      <section class="card" id="whats-this">
        <header class="card-header">
          <h3 class="card-header-title">
          </h3>
        </header>
        <div class="card-content">
          <div class="content">
            <p>
            It means that you can see the code used to run the website, from the HTML that renders the page to the backend code that stores the data.
            The source code for the whole website is available <a href="https://github.com/AnthonySuper/artworkdraft">here</a>.
            This makes the website much more transparent in general, and can even improve security. 
            </p>
          </div>
        </div>
      </section>
    </div>
  </section>
</article>
