<section class="hero is-bold is-primary is-medium">
  <div class="hero-body">
    <h1 class="title">
      Legal
    </h1>
    <h2 class="subtitle">
      Gotta make the lawyers happy
    </h2>
  </div>
</section>

<article class="section content">
  <h1>Terms of Service</h1>
  <p>
    Every website needs one of these!
    Please read this argreement carefully before using our site, services, or products. 
    This constitues a contract between you and ArtWorkDraft.
    We know that legalease can be a bit confusing, so we've included some annotations to explain what we mean.
  </p>
  <p>
    This terms of service is crafted to protect your rights as much as it covers our liability.
  </p>

  <section class="accepting">
    <h2>Accepting the TOS</h1>
    <p>
      Please read these Terms of Service and the <a href="/rules">rules</a> before using ArtWorkDraft (the <strong>site</strong>) and associated services.
      These documents constitute a legal agreement governing your use of the site, and your relationship with the site.
      By using the site you agree to these terms of service.
      If you don't agree to the terms of service and the rules, you are not allowed to use the site.
    </p>
  </section>

  <section class="modifications">
    <h2>Modifications to the Agreement</h2>
    <p>
      The Site reserves the right to modify this agreement by posting a revised version and notifying you of changed terms of service.
      It also reserves the right to change the specific wording of this agreement at any time as long as the legal meaning is preserved (as the agreement in its current form was not actually written by a lawyer).
    </p>
    <p>
      We may in the future ask for explicit confirmation that you accept a new agreement.
      We reserve the right to block access to interaction with the site until you do so.
      This is so we can make sure that we're all legally on the same page.
    </p>
  </section>

  <section class="use">
    <h2>Use of the service</h2>
    <p>
      You may not use ArtWorkDraft in <strong>any way</strong> that conflicts with legal regulations in your own jurisdiction.
      This means that you must be of the legally appropriate age to use a website in order to use this website.
      In the US, this means that you must be at least 13 years of age.
    </p>
    <div class="notification">
      In order to use ArtWorkDraft, you must be legally able to do so.
      There's not much we can do about this requirement.
      It's sort of mandated by law.
    </div>
    <section class="changes">
      <h3>Service Changes and Limitations</h3>
      <p>
        ArtWorkDraft is a constantly-updating website.
        Functionality may change without prior notice to you.
        Functionality may also be limited without prior notice to you.
        We reserve the right to terminate any account for any reason.
      </p>
      <div class="notification">
        We can't see the future.
        This section states that things might change, and that you should in fact expect things to do so.
        It also allows us to terminate any account at any time.
        This prevents bad actors from exploiting flaws in the rules without consequence.
      </div>
    </section>

    <section class="automated-use">
      <h3>Automated Use</h3>
      <p>
        Automated use within reason is <strong>allowed</strong>, within some limitations.
        You <strong>may not</strong> parse and scrape HTML content.
        You <strong>may</strong> parse and fetch JSON content from our read-only APIs.
        These are currently undocumented, but will be documented in the future.
      </p>
      <p>
        Automated use may not be used to harm the website or its users in any way.
        You may not use it to violate other parts of our terms of service, forge or impersonate anything, or generally perform any action that a technically-savvy person might consider negative for the health of the website.
        Software that uses the API, or the website in general, is encouraged to be released under a free and open source license.
      </p>
      <div class="notification">
        Some people want to access this website with automated software.
        In this section we let them do that, so long as they do it in a way that doesn't hurt the site.
      </div>
    </section>
  </section>
  <section class="registration-and-security">
    <h2>Registration and Security</h2>
    <p>
      In ordr to let you use the website, you may be required to make an account under a given name and email address.
      The email address is the primary way in which we will contact you.
      If you lose access to your email, or an attacker gains unwanted access to it, we are not responsible for how this might affect the health of your account.
    </p>
    <div class="notification">
      If you lose your email and your account gets hacked, you can't sue us for that.
      You can go after the hacker, though!
    </div>
  </section>
  <section class="content">
    <h2>Content Relationship and Licensing</h2>
    <p>
      Under normal use of the website, users of ArtWorkDraft are allowed to upload various forms of content.
      This includes images, comments, and reblogs, but also <strong>anything else</strong> submitted to the site.
      This section governs how we may use that content.
    </p>

    <section class="license-awd">
      <h3>Content License to ArtWorkDraft</h3>
      <p>
        By uploading content to ArtWorkDraft, you grant us a non-exclusive, worldwide, royalty-free, sublicenseable, transferable right and license to use, host, store, cache, reproduce, publish, display, perform, distribute, transmit, modify, adapt, and create derivative works of said content.
        This license <strong>is limited in scope</strong> to normal operation of the website and any associated services, as well as promotion.
        That is, the license allows us to do things like...
        <ul>
          <li>Change the resolution of your images so they can display better on mobile devices</li>
          <li>Store your images on our backend server</li>
          <li>Display your images, comments, and other content to users</li>
          <li>Allow partner websites to display your images in a "related images on ArtWorkDraft" or "images by this creator on ArtWorkDraft" or "recent chat about this on ArtWorkDraft" style context</li>
          <li>Allow users to create a "derivative work" (in the legal sense of the term) by reblogging your content with a comment</li>
        </ul>
      </p>
      <p>
        It <strong>is not intended to allow us to do things like...</strong>
        <ul>
          <li>Print your images on T-Shirts and sell them without your consent or compensation</li>
          <li>Use your images in advertisement without compensating you</li>
          <li>Sell the rights to your content for a big movie deal</li>
          <li>Sell your fanart to be used in promotional material</li>
        </ul>
        The license and rights assigned are <strong>strictly to enable operation of the website</strong> and expansion thereof.
        The license shall also include the rights to create statistical analysis derived from the content, as long as this statistical analysis is not used for any kind of advertisement targeting, marketing, or other privacy-invading purposes.
      </p>
      <div class="notification">
        This section lets us legally display the stuff you upload by granting us a license to that content.
        It also gives us limited power to sub-license content in a way that is intended to be used only to enable discovery of content on ArtWorkDraft.
        This section is mandatory for almost every website (as it is illegal to display unlicensed content, so we couldn't display anything you uploaded without this clause) but we actually restrict ourselves more than most.
        More specifically, we explicitly place a number of bad practices outside the scope of our license, and affirm that the license is intended only to enable the operation of ArtWorkDraft.
        The license does explicitly allow statistical analysis of your content, but it <strong>explicitly prohibits us from using your content to display targeted ads</strong>.
      </div>
    </section>
    <section class="license-us">
      <h3>Our license to you</h3>
      <p>
        As a subscriber to the service, ArtWorkDraft grants you a worldwide, revocable, non-exclusive, non-sublicenseable, and non-transferable license to download, store, view, display, perform, redistribute, and create derivative works of Content solely in connection with your use of ArtWorkDraft.
        This means, for example, that you can reblog artworks on the website.
        It doesn't mean that you can use any content on the website for your own purposes unrelated to the website, or that you can re-upload content on the website as your own.
      </p>
    </section>
    <section class="agreement">
      <h3>Content Agreement</h3>
      <p>You agree to upload content, and further to interact with the website in general, in a way that follows this terms of service and our rules.</p>
    </section>
  </section>

  <section class="disclaimer">
    <h3>Warranty Disclaimer; Services Available on an "AS IS" Basis</h3>
    <p>
      ArtWorkDraft is used at your own risk.
      More specifically, YOU AGREE AND UNDERSTAND THAT THE SERVICES ARE PROVIDED TO YOU ON AN "AS IS" AND "AS AVAILABLE" BASIS.
      WITHOUT LIMITING THE FORGEGOING, TO THE FULL EXTENT OF THE LAW, ARTWORKDRAFT DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, OR MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.
      ArtWorkDraft does not claim that our service will be stable, error-free, compatible with all software, meet your requirements, be free of possibly harmful components, be perfectly secure, or fulfill any of your hopes and/or dreams.
      ArtWorkDraft also doesn't claim or represent that the content provided on the website is in any way good, useful, or enriching&mdash;the subscribers upload the content and are soley responsible for it.
    </p>
    <div class="notification">
      This lovely bit of allcaps says that you can't expect the website to work perfectly, or for everybody on the website to be a perfect person at all times.
      We'll try our best, of course, but this clause prevents us from being sued due to downtime or due to the content of other users.
    </div>
  </section>
  <section class="venue">
    <h2>Choice of Law and Venue</h2>
    <p>
      By using the service, you agree to settle all legal disputes according to the laws of the State of Colorado.
      You also agree to submit to the personal jurisdiction of the courts located within Douglas County, Colorado for the purpose of litigating all such disputes.
    </p>
    <div class="notification">
      If you're going to sue us, you're going to do it under the laws of our home state.
      New York lawyers are way too expensive for us to hire.
    </div>
  </section>
  <section class="software-licensing">
    <h2>Software Licensing</h2>
    <p>
      ArtWorkDraft is open source, and code for the website (including all backend server code and frontend HTML/CSS/JS) can be found at <a href="https://github.com/anthonysuper/artworkdraft">its project page</a>.
      Your use of the code is governed by this software license.
    </p>
  </section>
</article>