<section class="hero is-bold is-warning is-medium">
  <div class="hero-body">
    <h1 class="title">
      Rules
    </h1>
    <h2 class="subtitle">
      Please follow them
    </h2>
  </div>
</section>

<article class="section content">
  <section id="tagging">
    <h2 class="title">Tagging</h2>
    <p>
      We want it to be easy to find art on ArtWorkDraft.
      To that end, we have some guidelines for how you should tag your posts.
    </p>

    <section id="name-tags-accurately">
      <h3 class="subtitle">Name tags accurately and nuetrally</h3>
      <p>
        Tags should be given a name that is accurate and neutral.
        They should not be jokes or puns.
        They should also not use opinionated language.
        The tag for the Sacramento-based band "Death Grips" should just be "Death Grips," not "Death Grips, the Greatest Band Ever" or "Death Grips, the most over-rated band ever."
        Intentionally inflamatory language is grounds for a very quick ban.
      </p>
    </section>

    <section id="describe-tags-accurately">
      <h3 class="subtitle">Describe tags accurately and nuetrally</h3>
      <p>
        Give tags descriptions that, well, describe them!
        It's better to start off a description with a quick blurb of summary, but feel free to go as in-depth as you like.
        At the same time, try to keep things as fact-based as possible.
        Analysis can sometimes be required to give a complete picture, but this website isn't Wikipedia.
      </p>
    </section>

    <section id="no-slang-language">
      <h3>Use non-slang terms (within reason)</h3>
      <p>
        Tag names shouldn't use slang terms for various things.
        The tag should be "cigarette,"  not "cig."
        At the same time, tags should be easy to find.
        So using the term "car" over "automobile" is perfectly acceptable.
      </p>
    </section>

    <section id="tag-accurately">
      <h3>Keep tags accurate to the content</h3>
      <p>
        If you add a tag to the image, make sure that the image contains the things described in that tag.
        It might be tempting to tag a portrait of a goofy friend with "clown," but unless she's wearing weird makeup with zany hair, please refrain from doing so!
        Tags should be based primarily on what is actually present in the image.
        Don't tag unrelated images with popular tags in an effort to get more followers&mdash;and especially don't intentionally mis-tag images with the intent of "trolling" or otherwise causing strife.
      </p>
    </section>
    <section id="tag-nsfw">
      <h3>Mark NSFW tags as NSFW</h3>
      <p>
        Mark tags that should be NSFW as NSFW.
        Tags should generally be marked as NSFW if images with the tag are likely to be NSFW, or if it would be inappropriate for the tag to show up as an autosuggestion.
        Err on the side of caution here.
      </p>
    </section>
  </section>

  <section id="uploading">
    <h2>Uploading</h2>
    <p>
      ArtWorkDraft tries to enable the sharing of artistic content.
      What exactly can be classified as "artist" is of course up to interpretation, and we tend to take a broad view.
      At the same time, we do have some guidelines on what you should upload, and how you should do it.
    </p>

    <section id="mark-nsfw">
      <h3>Mark NSFW content as NSFW</h3>
      <p>
        If your content is not acceptable in a work environment, mark it as such!
        This applies to the obvious, of course, but please do err on the side of caution.
      </p>
    </section>

    <section id="make-sure-its-acceptable">
      <h3>Make sure the content is acceptable</h3>
      <p>
        Only upload art you have the rights to upload.
        This includes all art that you have created yourself, unless you've legally assigned the copyright to it to somebody else.
        It does not include random images you've found on the internet.
        It also doesn't include images intentionally stolen from others, even if you cite a source.
      </p>
      <p>
        Certain historical works of art can be uploaded if you use them to provide greater context.
        Generally, if the artwork is in the public domain, it is acceptable to upload so long as you provide extra content (typically background information on the art) in the description, and clearly mark that it is not your creation.
        This rule exists to enable educational content and art history.
      </p>
    </section>
  </section>
</article>