<% page_title "Tags" %>

<div class="section">
  <div class="container">
    <h1 class="title">Tags</h1>
    <%= render partial: "index_tag", collection: @tags,
      as: :tag, cached: true %>
  </div>
</div>
