<% page_title "Scraps" %>

<div class="section">
  <div class="container">
    <h1 class="title">Scraps</h1>
    <%= form_tag scraps_path, method: :get, class: "form" do %>

      <div class="field">
        <label for="search[tags]" class="label">Tags</label>
        <div data-vue-component="tags/new-tags-form"
             data-field-name="search[tags]">
        </div>
      </div>
      <%= submit_tag "Search", class: "button" %>
    <% end %>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="columns is-multiline">
      <%= render collection: @scraps,
        partial: "column_scrap",
        cached: true,
        as: :scrap %>
    </div>
    <%= render "page_level", collection: @scraps %>
  </div>
</div>
