@import 'bulma/css/bulma.css';

.centered-image-container {
  display: block;
  text-align: center;
}

.overall-site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
