<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third"">
        <h1 class="title">ArtWorkDraft</h1>
        <h2 class="subtitle">
          An art community that's actually a community.
        </h2>
        <a href="https://www.github.com/anthonysuper/artworkdraft">
          Open Source
        </a>
      </div>
      <div class="column">
        <h2 class="subtitle">Navigation</h2>
        <ul>
          <li><a href="/users/new">Create Account</a></li>
          <li><a href="/artworks">Artworks</a></li>
          <li><a href="/scraps">Scraps</a></li>
          <li><a href="/users">Users</a></li>
        </ul>
      </div>
      <div class="column">
        <h2 class="subtitle">Creation</h2>
        <ul>
          <li><a href="/artworks/new">Upload Artwork</a></li>
          <li><a href="/scraps/new">Upload Scrap</a></li>
          <li><a href="/tags/new">Upload Tag</a></li>
        </ul>
      </div>
      <div class="column">
        <h2 class="subtitle">Information</h2>
        <ul>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/rules">Rules</a></li>
          <li><a href="/legal">Legal/TOS</a></li>
        </ul>
      </div>
    </div>
     <p>Copyright 2018 Noided Media</p>
  </div>
 
</footer>