<div class="level">
  <div class="level-left">
  </div>
  <div class="level-right">
    <div class="level-item">
      <%= link_to "Next page", next_page(collection), class: "button" %>
    </div>
  </div>
</div>
